@use '../custom' as v;

.text-amarillo{
    color:v.$amarillo;
}

body{
    font-family: v.$main-font;
}

.table-custom {
    border: 1px solid v.$gris; // Borde exterior
    border-collapse: collapse;

    th, td {
      border: none; // Elimina los bordes internos
    }
}

.carousel-inner {
    height: 600px; 
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

h1 {
    font-size: v.$tamano-h1;
}

h2 {
    font-size: v.$tamano-h2;
}

h3 {
    font-size: v.$tamano-h3;
}

h4 {
    font-size: v.$tamano-h4;
}

h5 {
    font-size: v.$tamano-h5;
}