body{
    background-image: url(../img/Libros1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) { /* md */
    .custom-width {
        width: 75% !important;
    }
}
