
/* Variable (custom properties) */
:root{
    --bs-blue:#037bc0;
    --bs-green: #8cbc00;
    --bs-grey: #343a40;
    --green-hover:#769c02;
}
.carousel-inner img {
    height: 500px; /* Ajusta la altura según necesites */
    object-fit: cover; /* Recorta la imagen si es necesario */
}